* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI SemiLight';
}

.grid-wrapper {
	display: grid;
	height: 100vh;
	widows: 100vw;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 1fr 40px;
	grid-template-areas:
		"shoplist main"
		"shoplist footer"
	;
}

#shoplist-wrapper {
	grid-area: shoplist;
	position: relative;
	padding: 20px;
	background-color: #eee;
}

#shoplist-wrapper div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#shoplist-wrapper h2 {
	text-align: center;
}

#add-item-btn {
	width: 30px;
	height: 30px;
	background-color: #ddd;
	border: none;
	color: black;
	font-size: 18px;
	border-radius: 10px;
	position: relative;
	top: 3px;
}

#add-item-itx {
	display: none;
	margin: 10px 0;
	font-size: 20px;
	width: 100%;
}

#start-route-btn {
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: calc(100% - 40px);
	height: 40px;
	border-radius: 10px;
	background-color: #85858d;
	border: none;
	font-size: 20px;
}

main {
	grid-area: main;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

canvas {
	width: 75vh;
	height: 75vh;
}

#next-item {
	width: 100%;
	text-align: center;
	padding-top: 10vh;
	display: none;
}

footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
	background-color: #ddd;
	align-items: center;
}
