* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-wrapper {
    display: grid;
    height: 100vh;
    widows: 100vw;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "shoplist main"
    ;
}

#shoplist {
    grid-area: shoplist;
    padding: 20px;
    font-family: 'Segoe UI SemiLight';
}

#shoplist h2 {
    text-align: center;
}

canvas {
    grid-area: main;
    width: 100%;
    height: 100%;
}
